
@{
    ViewData["Title"] = "Index";
}




<div class="container">

    <h2>Modelo de Processamento de Dados</h2>

    @*<div>
            <span>Filtrar por intervalo de idade</span>
            <input type="text" id="txtIdadeInicial" />
            <input type="text" id="txtIdadeFinal" />
        </div>*@

   
    <table id="tblClientes" class="table table-striped table-bordered responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Estado</th>
                <th>Idade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="bodyTable"></tbody>
    </table>


</div>


@section scripts{



    <script type="text/javascript">
        $(document).ready(function () {

            var table = $("#tblClientes").DataTable({
                "sAjaxSource": '/ServerProcessing/Processar',
                "bServerSide": true,
                "aLengthMenu": [[10, 20, 50, 100], ["10 Registros", "20 Registros", "50 Registros", "100 Registros"]],
                "aoColumns": [
                    { "mData": "id" }, { "mData": "nome" }, { "mData": "sexo" }, { "mData": "estado" },
                    { "mData": "idade" }
                ],
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "idadeInicial", "value": $("#txtIdadeInicial").val() });
                    aoData.push({ "name": "idadeFinal", "value": $("#txtIdadeFinal").val() });
                },
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ ",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                },
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }


            });

            //$("#txtIdadeInicial").keyup(function () {
            //    table.fnFilter();
            //});
            //$("#txtIdadeFinal").keyup(function () {
            //    table.fnFilter();
            //});

        })
    </script>

}